@mixin upperCaseBold {
  text-transform: uppercase;
  font-weight: bold;
}

@mixin h5 {
  font-size: 8px;
  line-height: 10px;
  @include upperCaseBold;
}

@mixin h3 {
  font-size: 13px;
  line-height: 23px;
  @include upperCaseBold;
}

@mixin body-copy_sm {
  font-size: 10px;
  line-height: 14px;
}

@mixin body-copy_3 {
  font-size: 12px;
  line-height: 20px;
}

@mixin body-copy {
  font-size: 16px;
  line-height: 26px;
}

@mixin container {
  width: 100%;
  margin: 0 auto;
  max-width: 1110px;
}

@mixin transitionLinear {
  transition: 0.3s linear;
}

@mixin flex {
  display: flex;
}

@mixin flexCenter {
  align-items: center;
  @include flex;
}

@mixin flexBetween {
  justify-content: space-between;
  @include flex;
}
