@mixin h5 {
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

@mixin body-copy_sm {
  font-size: 10px;
  line-height: 14px;
}

@mixin body-copy_3 {
  font-size: 12px;
  line-height: 20px;
}

@mixin body-copy {
  font-size: 16px;
  line-height: 26px;
}

@mixin flex {
  display: flex;
}

@mixin flexCenter {
  align-items: center;
  @include flex;
}

@mixin flexBetween {
  justify-content: space-between;
  @include flex;
}
