$white: #fff;
$invisible-grey: #f3f3f3;
$light-grey: #e0e0e0;
$grey: #c4c4c4;
$dark-grey: #7d7d7d;
$blue: #005ef3;
$light-blue: #4c8ef7;
$green: #8dca78;
$black: #000;
$red: #f64d40;
$gold: #e5decc;
$gold-bright: #b19b69;
$gold-pale: rgba(177, 155, 105, 0.5);

$button-shadow: 0px 10px 25px rgba(177, 155, 105, 0.3);
$blue-shadow: 0px 15px 25px rgba(0, 94, 243, 0.4);

$blue-gradient: linear-gradient(360deg, #005ef3 0%, #689ef4 100%);
$gold-gradient: linear-gradient(180deg, #e3d1a0 0.52%, #a79156 100%);
