@mixin upperCaseBold {
  text-transform: uppercase;
  font-weight: bold;
}

@mixin h5 {
  font-size: 8px;
  line-height: 10px;
  @include upperCaseBold;
}
@mixin h4 {
  font-size: 14px;
  line-height: 20px;
}

@mixin h3 {
  font-size: 13px;
  line-height: 23px;
  @include upperCaseBold;
}

@mixin h1 {
  font-size: 50px;
  line-height: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@mixin body-copy_sm {
  font-size: 10px;
  line-height: 14px;
}

@mixin body-copy_3 {
  font-size: 12px;
  line-height: 20px;
}

@mixin body-copy {
  font-size: 16px;
  line-height: 26px;
}

@mixin container {
  width: 100%;
  margin: 0 auto;
  max-width: 1110px;
}

@mixin transitionLinear {
  transition: 0.3s linear;
}

@mixin flex {
  display: flex;
}

@mixin flexCenter {
  align-items: center;
  @include flex;
}

@mixin flexBetween {
  justify-content: space-between;
  @include flex;
}

@mixin fadeIn {
  animation: fadeIn 1s linear;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@mixin mobile-text {
  font-size: 14px;
  line-height: 24px;
}

@mixin mobile-h1 {
  font-size: 30px;
  line-height: 35px;
}
